# =========================
# Python Version
# =========================
# Recommended:
# Python 3.12


# =========================
# Deep Learning
# =========================
torch==2.2.2
torchvision==0.17.2


# =========================
# Numerical Computing
# =========================
numpy==1.26.4
pandas==2.2.2


# =========================
# Visualization
# =========================
matplotlib==3.8.4
seaborn==0.13.2


# =========================
# Image Processing
# =========================
opencv-python==4.9.0.80
Pillow==10.3.0


# =========================
# Machine Learning Utilities
# =========================
scikit-learn==1.4.2
tqdm==4.66.4